model/schemas/order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 (http://www.altova.com) by Joe Pych (Bionic Advertising Services) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:include schemaLocation="common.xsd"/>
	<xs:include schemaLocation="program.xsd"/>
	<xs:element name="order" type="Order">
		<xs:annotation>
			<xs:documentation>This is an insertion order element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Order">
		<xs:annotation>
			<xs:documentation>This is the insertion order data type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="Name"/>
			<xs:element name="orderNumber">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="version" type="xs:short" minOccurs="0"/>
			<xs:element name="orderDate" type="xs:date"/>
			<xs:element name="buyer" type="Transactor"/>
			<xs:element name="seller" type="Transactor"/>
			<xs:element name="advertiser" type="Transactor"/>
			<xs:element name="advertiserBrandName" type="Name" minOccurs="0"/>
			<xs:element name="advertiserBrandId" type="Identifier" minOccurs="0"/>
			<xs:element name="lineItems">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="lineItem" type="OrderLineItem" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="flightDates" type="TimeSpan">
				<xs:annotation>
					<xs:documentation>The earliest start date and the latest end date for all line items in this order.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="amount" type="Money"/>
			<xs:element name="eCPM" type="Rate" minOccurs="0"/>
			<xs:element name="terms">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="financial">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="paymentTerms" type="PaymentTerms"/>
									<xs:element name="billingFrequency" default="monthly">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="weekly"/>
												<xs:enumeration value="monthly"/>
												<xs:enumeration value="quarterly"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="systemOfRecord" default="advertiser">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="advertiser"/>
												<xs:enumeration value="publisher"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="agencyCommission" type="Discount" minOccurs="0"/>
									<xs:element name="discount" type="Discount" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element name="notes" type="Note" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="legal" type="LegalTerms"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="notes" type="Note" minOccurs="0"/>
			<xs:element name="systemInformation" type="SystemInformation" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderLineItem">
		<xs:annotation>
			<xs:documentation>a line item in an insertion order</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sequenceNumber" type="xs:int">
				<xs:annotation>
					<xs:documentation>The order in which this line appear in the order</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="Name"/>
			<xs:element name="identifiers" type="Identifier" minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice>
				<xs:element name="placement">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="program">
								<xs:annotation>
									<xs:documentation>The advertising program. E.g. "AutoTrader.com"</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="xs:IDREF" minOccurs="0"/>
										<xs:element name="name"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="product" type="Product">
								<xs:annotation>
									<xs:documentation>The Program's product. E.g. "Sedan's section 300x250"</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="dayparts" type="DayPartSchedule" minOccurs="0">
								<xs:annotation>
									<xs:documentation>optional dayparting schedule</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="targeting" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Additional targeting options. E.g. "gender=female" and "income>$100,000" TODO: data structure.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="creative" minOccurs="0">
								<xs:annotation>
									<xs:documentation>creative tags or assets can optionally be included in the order.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="tag" type="AdTag" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="file" type="File" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="package" minOccurs="0">
								<xs:annotation>
									<xs:documentation>If this placement is part of a package</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="package" type="PackageType"/>
			</xs:choice>
			<xs:element name="testingStartDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>During the testing period, the ad server serves impressions to the placement as if it your ads were already running on the publisher's site. However, reports for the testing period will show the associated media cost and eCPM for these impressions as zero.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="flightDates" type="TimeSpan">
				<xs:annotation>
					<xs:documentation>The earliest start date and latest end date for this line item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="flights" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Optional for flighting.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="flight">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="flightDates" type="TimeSpan" maxOccurs="unbounded"/>
									<xs:element name="quantity"/>
									<xs:element name="rate" type="Rate"/>
									<xs:element name="amount" type="Money"/>
									<xs:element name="notes" type="Note" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="quantity" type="Quantity" minOccurs="0">
				<xs:annotation>
					<xs:documentation>optional if placement is part of package</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isGuaranteed" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>True if this line item's quantity is guaranteed. False otherwise. Optional if placement is part of package.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="deliveryPolicy" type="DeliveryPolicy" minOccurs="0"/>
			<xs:element name="frequencyCap" type="FrequencyCap" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="rate" type="Rate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>optional if placement is part of package</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="discount" type="Discount" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="discountCode" type="DiscountCode" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="amount" type="Money" minOccurs="0">
				<xs:annotation>
					<xs:documentation>optional if placement is part of package</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="notes" type="Note" minOccurs="0"/>
			<xs:element name="status" type="LineItemStatus" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DayParts">
		<xs:annotation>
			<xs:documentation>the day parts for a single day</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="all">
				<xs:annotation>
					<xs:documentation>Choose this to indicate the ad should run all day.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="none">
				<xs:annotation>
					<xs:documentation>Choose this to indicate the ad should not run at all on this day.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="parts">
				<xs:annotation>
					<xs:documentation>Choose this to indicate the ad should run specified parts of the day.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="part" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="startTime" type="xs:time"/>
									<xs:element name="endTime"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DayPartSchedule">
		<xs:annotation>
			<xs:documentation>schedule of dayparts monday through sunday</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="schedulingTimeZone">
				<xs:annotation>
					<xs:documentation>Indicates whether the schedule is governed by the publisher's or the user's time zone.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="publisherTimeZone"/>
						<xs:enumeration value="userTimeZone"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="monday" type="DayParts"/>
			<xs:element name="tuesday" type="DayParts"/>
			<xs:element name="wednesday" type="DayParts"/>
			<xs:element name="thursday" type="DayParts"/>
			<xs:element name="friday" type="DayParts"/>
			<xs:element name="saturday" type="DayParts"/>
			<xs:element name="sunday" type="DayParts"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DeliveryPolicy">
		<xs:annotation>
			<xs:documentation>policy for delivering ad impressions e.g. evenly, frontloaded, asap</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="evenly">
				<xs:annotation>
					<xs:documentation>Delivers impressions equally over the course of the campaign.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="frontloaded">
				<xs:annotation>
					<xs:documentation>Attempts to deliver impressions ahead of schedule by as much as 25% in the first half of the campaign, returns to evenly distributed impressions in the second half.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="asap">
				<xs:annotation>
					<xs:documentation>Delivers up to the impression goal as quickly as possible.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FrequencyCap">
		<xs:annotation>
			<xs:documentation>the frequency capping policy for a placement</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="maxImpressions" type="xs:positiveInteger"/>
			<xs:element name="numTimeUnits">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:nonNegativeInteger">
							<xs:attribute name="timeUnit">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="minutes"/>
										<xs:enumeration value="hours"/>
										<xs:enumeration value="days"/>
										<xs:enumeration value="weeks"/>
										<xs:enumeration value="months"/>
										<xs:enumeration value="lifetime"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="LineItemStatus">
		<xs:annotation>
			<xs:documentation>the status of a line item, e.g. pending, rejected, ready, completed</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Draft">
				<xs:annotation>
					<xs:documentation>The LineItem is still being drafted.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PendingApproval">
				<xs:annotation>
					<xs:documentation>The LineItem has been submitted for approval.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Rejected">
				<xs:annotation>
					<xs:documentation>The LineItem has been rejected and is not eligible to serve.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AwaitingCreative">
				<xs:annotation>
					<xs:documentation>The LineItem needs at least one more creative to be associated with it before it can run.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Ready">
				<xs:annotation>
					<xs:documentation>The LineItem has been activated and is ready to serve.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Delivering">
				<xs:annotation>
					<xs:documentation>The LineItem has begun serving.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Paused">
				<xs:annotation>
					<xs:documentation>The LineItem has been paused from serving.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PausedInventoryReleased">
				<xs:annotation>
					<xs:documentation>The LineItem has been paused and its reserved inventory has been released. The LineItem will not serve.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Completed">
				<xs:annotation>
					<xs:documentation>The LineItem has completed its run.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderStatus">
		<xs:annotation>
			<xs:documentation>the status of an order e.g. pending approval, approved, rejected.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Draft"/>
			<xs:enumeration value="PendingApproval"/>
			<xs:enumeration value="Approved"/>
			<xs:enumeration value="Rejected"/>
			<xs:enumeration value="Paused"/>
			<xs:enumeration value="Canceled"/>
			<xs:enumeration value="Deleted"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PackageType">
		<xs:annotation>
			<xs:documentation>the type of package: standard or roadblock</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="standard">
				<xs:annotation>
					<xs:documentation>A standard package can be used to group any placements in a cost strategy together. Cost will be attributed identically across all impressions within the Package, regardless of which placement received the impression.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="roadblock">
				<xs:annotation>
					<xs:documentation>A roadblock placement is typically a group of placements that are all served on a webpage together. Cost information will be associated whenever any or all placements in the Roadblock receive an impression.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
